<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329366474591-8rkdhebj54s814ff5898cv6jp4iq9q78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329366474591-8rkdhebj54s814ff5898cv6jp4iq9q78</string>
	<key>API_KEY</key>
	<string>AIzaSyBuUHGKORrhCvetsRTSL-KZU7ZNBc8acN4</string>
	<key>GCM_SENDER_ID</key>
	<string>329366474591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cse115a</string>
	<key>PROJECT_ID</key>
	<string>firrecur-239b7</string>
	<key>STORAGE_BUCKET</key>
	<string>firrecur-239b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329366474591:ios:1a8ad8ca52678ea5a470ea</string>
	<key>DATABASE_URL</key>
	<string>https://firrecur-239b7-default-rtdb.firebaseio.com</string>
</dict>
</plist>